<div class="gallery" id="{{ include.album }}">
    {%- for image in site.static_files -%}
        {%- if image.path contains 'gallery' and image.path contains include.album -%}
            {% unless image.path contains 'thumbnails' %}
                <a href="{{ image.path | relative_url }}" data-sub-html="">
                    <img src="{{ image.path | prepend: 'thumbnails' | relative_url }}" alt="{{ image.path | relative_url | exif: 'title' }}"/>
                </a>
            {% endunless %}
        {%- endif -%}
    {%- endfor -%}
</div>

<script type="text/javascript" src="{{ '/assets/js/jquery-3.5.1.min.js' | relative_url }}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.3.2/css/lightgallery.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.3.2/js/lightgallery.js"></script>
<script>
    $('#{{include.album}}').lightGallery({
    thumbnail:true
});
</script>
